<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
	xmlns:gap   = "http://phonegap.com/ns/1.0"
    xmlns:android   = "http://schemas.android.com/apk/res/android"

	id          = "com.fuzztooth.bowlr"
	versionCode = "10" 
	version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Bowlr</name>

    <description>
		A bowling scorekeeper
    </description>

    <author href="https://mikelightner.org" email="fuzztooth@gmail.com">
		Mike Lightner
    </author>

	<preference name="fullscreen" value="true" />

	<feature name="http://api.phonegap.com/1.0/device" />
	<feature name="http://api.phonegap.com/1.0/media" />
	<feature name="http://api.phonegap.com/1.0/notification" />
	<feature name="http://api.phonegap.com/1.0/network" />

	<!-- ANDROID ICON DEFINITIONS -->
	<icon src="assets/icons/ldpi.png" gap:platform="android" gap:qualifier="ldpi" />
	<icon src="assets/icons/mdpi.png" gap:platform="android" gap:qualifier="mdpi" />
	<icon src="assets/icons/hdpi.png" gap:platform="android" gap:qualifier="hdpi" />
	<icon src="assets/icons/xhdpi.png" gap:platform="android" gap:qualifier="xhdpi" />
	<icon src="assets/icons/xxhdpi.png" gap:platform="android" gap:qualifier="xxhdpi" />
	<icon src="assets/icons/xxxhdpi.png" gap:platform="android" gap:qualifier="xxxhdpi" />

</widget>
