html, body {
	height:100%;
	cursor: default;
}

html {
	overflow:hidden;
}

body {
	margin-bottom: 32px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body.loading {
	background: transparent url(../assets/loadingbar.gif) no-repeat scroll center center;
}

body, .modal {padding-right: 0 !important;}

.modal-footer {text-align: center;}


a:active, button:active, input[type=submit]:active {outline: none 0 !important;}
a:focus, button:focus, input[type=submit]:focus {outline: none 0 !important;}


.navmenu {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.navmenu-brand img {
	height: 48px;
	display:inline-block;
	margin-right: 10px;
}

.navmenu-nav {
	font-size: 18px;
}

.navmenu-nav .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
}

.navbar {
  display: block;
  text-align: center;
}
.navbar-toggle {
  float: right;
  margin-right: 15px;
  padding: 11px 12px;
}

.navbar-toggle .icon-bar {
	width: 28px;
	height: 4px;
}

.navmenu-nav li a i {
	padding-top: 4px;
}

.container {
  max-width: 100%;
}


.navbar h2 {
	margin-top: 8px;
	margin-right:10px;
}


footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

footer .container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

footer .container .text-muted {
  margin: 6px 0;
}

/**********************************************/


@media (min-width: 0) {
	.navbar-toggle {display:block;}

	.navbar-default {
		background: transparent;
		border-color: transparent;
	}
	  
	.navmenu, .navbar-offcanvas {
		width: 240px;
	}
}

@media (min-width: 992px) {
		  
	.navmenu, .navbar-offcanvas {
		width: 300px;
	}
}